関数

In [4]:
def f(x):
    return x * 2
result =f(2)
print(result)

4

In [2]:
def f(x):
    return x + 1
z = f(4)
if z == 5:
    print(z == 5)
else:
    print(z != 5)

True

※教科書にはz is 5 z is not 5とあるが間違い、＝＝と！＝を使う

In [3]:
len("monty")

5

In [4]:
len("python")

6

In [5]:
str(1000)

'1000'

In [7]:
int("1")

1

In [8]:
float("100")

100.0

In [9]:
int("110")
int(20.54)

float("16.4")
float(99)

99.0

In [10]:
age = input('年齢を入れて:')
int_age = int(age)
if int_age < 21:
    print('若いねぇ')
else:
    print('若くないねぇ')

年齢を入れて:20
若いねぇ

In [11]:
def even_odd(x):
    if x % 2 == 0:
        print("偶数")
    else:
        print("奇数")
even_odd(2)
even_odd(3)

偶数
奇数